<img id="leftFlowerDecor" src="https://i.imgur.com/t6ffnbn.png" alt="image-top-left" class="top-left-decoration responsive-image">
<img id="rightFlowerDecor" src="https://i.imgur.com/dGOOfnA.png" alt="image-top-right" class="top-right-decoration responsive-image">

<div class="wrap">
  <h1 class="titleSyle" style="font-size:43px;">Om Shree Shree Ganeshaya Namah</h1>
  <div>
    <img class="lordGaneshImage responsive-image" src="assets/LordGanesh.png" alt="Lord Ganesh">
  </div>
  <h1 class="titleSyle">Smt. {{groomMotherName}} & Sri {{groomFatherName}}</h1>
  <h1 class="titleSyle">request the honour of your gracious presence on the auspicious occasion of the</h1>
  <h1 class="titleSyle">Wedding Ceremony of {{elderOrYounger}} {{sonOrDaughter}}</h1>
  <h1 class="titleSyle" style="font-size:43px;">{{groomName}} 🤵</h1>
  <h1 class="titleSyle">with 💝</h1>
  <h1 class="titleSyle" style="font-size:43px;">{{brideName}}  👰</h1>
  <h1 class="titleSyle">Daughter of Smt. {{brideMotherName}} & Sri {{brideFatherName}}</h1>
  <h1 class="titleSyle">On {{marrigaeDate}}</h1>
  <h1 class="titleSyle">At {{location}}</h1>
</div>